.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glow-effect {
	box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.card-list[data-is-editing="true"] .card:not(.glow-effect) {
	opacity: 0.5;
	pointer-events: none; /* Disable clicks only for sibling cards */
}

.card-list[data-is-editing="true"] .card.glow-effect {
	opacity: 1; /* Keep the edited card fully visible and interactive */
	pointer-events: auto;
}


.scrollbar-hide-vertical::-webkit-scrollbar {
  display: none; /* Hide vertical scrollbar */
}
.scrollbar-hide-vertical {
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
}

.card-list {
	transition: opacity 0.3s ease-in-out; /* Smooth opacity transition */
}